@model eShop.Models.LoaiSanPham

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Xóa loại sản phẩm</h1>

<h3>Bạn có chắc chắn muốn xóa loại sản phẩm này ra khỏi hệ thống?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên loại sản phẩm
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenLoaiSanPham)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaLoaiSanPham" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về</a>
    </form>
</div>
